* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(251, 254, 246);
}

.heading{
    height: 98vh;
    background-image: linear-gradient(to right bottom, #9a6af9e2, #05beabe7), url(./Resources/jewel.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);


}
.heading-part-1{
    top: 50%;
    left: 50%;
    transform: translate(50%, 200px);
    display: block;

}
.heading-part-2{
    top: 50%;
    left: 50%;
    transform: translate(700px, 220px);
    display: block;

}
.secondSec{
    width: 100%;
    display: flex;
    justify-content: center;
}

.skillSection{
    background-color: aqua;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.html{
    background-color: blue;
    width: 80px;
    height: 80px;
    margin: 50px;

}
.css{
    background-color: rgb(145, 34, 123);
    width: 80px;
    height: 80px;
    margin: 50px;


}

.js{
    background-color: rgb(53, 149, 82);
    width: 80px;
    height: 80px;
    margin: 50px;

}
.react{
    background-color: rgb(255, 196, 0);
    width: 80px;
    height: 80px;
    margin: 50px;

}
.node {
    background-color: rgb(199, 143, 238);
    width: 80px;
    height: 80px;
    margin: 50px;

}

.mongo{
    background-color: rgb(31, 31, 43);
    width: 80px;
    height: 80px;
    margin: 50px;

}

.redux{
    background-color: rgb(213, 119, 85);
    width: 80px;
    height: 80px;
    margin: 50px;

}
.aws{
    background-color: rgb(15, 97, 89);
    width: 80px;
    height: 80px;
    margin: 50px;

}
