@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
@import "../components/mixin_var.scss";
.layout-div{
    margin:0;

}
.section{
    border: 1px solid rgba(201, 181, 181, 0.153);
    box-shadow:  1px 4px 5px rgba(201, 193, 193, 0.125)
}

.card-grid {
    max-width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem ;
    margin-bottom: 4rem;


}

.bg-color1{
    background-color: $primary;
}
.bg-color2{
    background-color: $secondary;
}


.card-grid-header{
    width: 30%;
    height: 2rem;
    margin: 1.5rem auto;

    

}
.card-grid-header-text{
    text-align: center;
}
.grid-header-bar{
    width: 15%;
    height: 0.3rem;
    margin: 0.2rem auto;
    background: rgb(7, 8, 8);

}



.about-header-text{
    width: 10%;
    height: 3vh;
    margin: 5vh auto;
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: 'Signika Negative',
    sans-serif;
    letter-spacing: 0.2rem;
}



