@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
.layout-div{
    margin:0;

}
.nav-header{
    position: relative;
}
.card-grid-header{
    width: 10%;
    height: 4rem;
    margin: 5vh auto;

    

}
.card-grid-header-text{
    text-align: center;
}
.grid-header-bar{
    width: 40%;
    height: 0.3rem;
    margin: 0.2rem auto;
    background: rgb(7, 8, 8);

}

.card-grid{
    margin: 8rem 15em 2rem 15rem;
    max-width: 100%;
    height: 60rem;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    justify-content: center;
}

.about-header-text{
    width: 10%;
    height: 3vh;
    margin: 5vh auto;
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: 'Signika Negative',
    sans-serif;
    letter-spacing: 0.2rem;
}

#contact-footer{
    width: 100%;
    display: grid;
    grid-template-columns: 2.9fr .1fr;
    justify-content: center;
    

}

.footer-main{
    height: 30vh;
    background-color: rgb(193, 181, 181);
    font-size: 3rem;
    color: rgba(107, 136, 210, 0.975);
    border-radius: 10px;
    transform: translateY(60%);
}
.funny-copyright{
    width: 30%;
    height: 40vh;

}