.btn-div{
    margin: 150px;
}

.card-btn:link,
.card-btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding:15px 40px;
    display: inline-block;
    border-radius: 100px;
}
.card-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(43, 40, 40, 0.728);
}
.card-btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(50, 44, 44);
}
.btn-white{
    background-color: rgb(254, 254, 254);
    color: rgb(50, 46, 46);
}