@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.about-div{
    width: 60%;
    display: grid;
    grid-template-columns: 2.2fr .8fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    margin: 3rem auto 8rem ;


}

.about-left-info{
    font-family: 'Dosis',
    sans-serif;
    padding: 5%;
    font-size: 1.3rem;
    word-spacing: 0.3rem;
    color: rgb(65, 65, 59);
    background: radial-gradient(rgba(255, 255, 255, 0.253), rgba(128, 127, 180, 0.274));
    background-position: top;
    box-shadow: 0 1.5rem 4rem rgb(12, 11, 11);
    border-radius: 1rem;
}

.about-right-side {
    background-image: linear-gradient(rgba(218, 152, 238, 0.824), rgba(117, 103, 205, 0.831)), url(./resources/jewel2.png);
    background-size: cover;
    background-position: center;
    border-radius: 3%;
    position: relative;

}

.about-right-side::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        background-color: rgba(196, 208, 244, 0.413);
        position: absolute;
        top: 12%;
        left: 12%;
        z-index: -1;
        transition: all 0.8s;
        border: solid 8px rgb(12, 11, 11);
        box-shadow: 0 1.5rem 4rem rgb(12, 11, 11);
        border-radius: 3%;
}

.about-right-side:hover{
    background-image: url(./resources/jewel2.png);
    
}
.about-right-side:hover::after{
    top: 5%;
    left: 5%;

}

.skill-list{
    list-style: none;
    font-size: 1.2rem;
    color: rgba(70, 57, 57, 0.612);
    margin-left: 35%;
    
}
.skill-item{
    margin-top: 1rem;


}
.skill-icon{
    color:rgb(120, 96, 143);
}
@media screen and (max-width: 600px){
    .about-right-side::after{
        visibility: hidden;
    }
    .about-right-side{
        background-image: url(./resources/jewel2.png);
    }
}
@media all and (max-width: 950px) {
    .about-div {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 3rem;


    }


}
