.about-div{
    width: 55%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.2fr .8fr;
    grid-template-rows: 0.2fr 2.8fr 3fr;
    grid-column-gap: 2rem;
    margin: 35vh auto -40vh auto;

}
.about-header {
    grid-column: span 2;
    color: rgba(19, 79, 111, 0.671);
}

.about-left-content{
    height: 50vh;
    grid-row: span 2
}
.about-left-info{
    font-family: fantasy;
    font-size: 1.3rem;
    word-spacing: 0.3rem;
    color: rgb(83, 160, 220);
}

.about-right-side {
    height: 35vh;
    grid-row: span 1;
    background-image: linear-gradient(rgba(22, 176, 83, 0.516), rgba(103, 205, 142, 0.482)), url(./resources/jewel2.png);

    background-size: cover;
    background-position: center;
    border-radius: 3%;
    position: relative;
}

.about-right-side::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 12%;
        left: 12%;
        z-index: -1;
        transition: all 0.8s;
        border: solid 8px rgb(12, 11, 11);
        border-radius: 3%;
}

.about-right-side:hover{
    background-image: url(./resources/jewel2.png);
    
}
.about-right-side:hover::after{
    top: 5%;
    left: 5%;

}

.skill-list{
    list-style: none;
    font-size: 1.2rem;
    color: rgba(70, 57, 57, 0.612);
    margin-left: 35%;
    
}
.skill-item{
    margin-top: 1rem;


}
.skill-icon{
    color:rgb(97, 143, 108);
}