@import "./mixin_var.scss";
.contact-div{
    width: 50%;
    height: 15rem;
    margin: 2rem auto;
    text-align: center;
}
.contact-icon{
    display: block;
    font-size: 7rem;
    color: rgba(6, 143, 193, 0.943);
}

.contact-header{
    display: block;
    margin-top: 1rem;
    color: $fontcolor;
}
