.skill-div {
    width: 70%;
    height: 80vh;
    background-color: rgba(175, 148, 175, 0.212);
    margin: 0 auto;
}

.skill-heading{
    width: 90%;
    height: 10vh;
    margin: 0 auto;
    background-color: rgb(228, 220, 236);
    padding-top: 2%;
}
.skill-div-a{
    width: 100%;
    height: 100%;
}
.js{
    margin-top: 2rem;
    width: 6rem;
    height: 6rem;
    background-image:  url(./resources/javascript.png);
}

