@import "./mixin_var.scss";
.skill-div {
    width: 70%;    
    margin: 4rem auto;
    border-radius: 1rem;
    transition: all 3s;
}
.skill-div:hover{

    transform: translateY(-3%);
    box-shadow: 0 1.2rem 3rem rgb(89, 85, 92);
}

.skill-heading{
    text-align: center;
    color: $fontcolor;
    height: 2rem;
    padding-top: 2%;
    
}
.skill-heading-text1{
    display: inline-block;
}
.skill-div-a{
    margin: 3rem 0 3rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
}
.logo{
    margin-top: 2rem;
    width: 6rem;
    height: 6rem;
    margin: 4rem 1rem;
    border-radius: 12%;
}
.js{
        background-image: url(./resources/javascript.png);
}
.node{
        background-image: linear-gradient(rgba(120, 147, 170, 0.185), rgb(141, 141, 175)),
        url(./resources/nodejs.png);
}
.ts{
        background-image: url(./resources/ts.png);
}
.react{
        background-image: linear-gradient(rgba(129, 30, 146, 0.198), rgba(120, 154, 185, 0.274)),
        url(./resources/react.png);
}

.mongodb{
        background-image: linear-gradient(rgba(129, 30, 146, 0.198), rgba(120, 154, 185, 0.274)),
        url(./resources/mongo.png);


}
.aws{
    background-image: linear-gradient(rgba(129, 30, 146, 0.198), rgba(120, 154, 185, 0.274)),
    url(./resources/aws.png);
}


@media all and (max-width: 600px) {
    .skill-div-a {
        grid-template-columns: 1fr 1fr;
    }


}

@media all and (min-width: 600px) and (max-width: 900px) {
    .skill-div-a {
        grid-template-columns: 1fr 1fr 1fr;
    
    }

}